.reimbursementTable, .reimbursementTable td {
    border-style: solid;
    border-collapse: collapse;
    border-width: 3px;
    padding: 5px;
}

.reimbursementTable th {
    text-align: center;
}

.reimbursementTable td:nth-child(3) {
    text-align: right;
}

.reimbursementTable td:nth-child(4) {
    text-transform: capitalize;
    font-weight: bold;
}

#fileInput {
    border-style: hidden;
}